:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 0, 188, 212 !important;
    --adw-accent-fg-rgb: 245, 245, 245 !important;
    --adw-accent-rgb: 0, 188, 212 !important;

 	/* destructive-action buttons */
    --adw-destructive-bg-rgb: 255, 105, 180 !important;
    --adw-destructive-fg-rgb: 245, 245, 245 !important;
    --adw-destructive-rgb: 255, 105, 180 !important;

 	/* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 0, 172, 193 !important;
    --adw-success-fg-rgb: 245, 245, 245 !important;
    --adw-success-rgb: 0, 172, 193 !important;

    --adw-warning-bg-rgb: 0, 188, 212 !important;
    --adw-warning-fg-rgb: 45, 45, 45 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 0, 188, 212 !important;

    --adw-error-bg-rgb: 255, 105, 180 !important;
    --adw-error-fg-rgb: 245, 245, 245 !important;
    --adw-error-rgb: 255, 105, 180 !important;

 	/* Window */
    --adw-window-bg-rgb: 245, 245, 245 !important;
    --adw-window-fg-rgb: 45, 45, 45 !important;

 	/* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 245, 245, 245 !important;
    --adw-view-fg-rgb: 45, 45, 45 !important;

 	/* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 238, 238, 238 !important;
    --adw-headerbar-fg-rgb: 45, 45, 45 !important;
    --adw-headerbar-border-rgb: 189, 189, 189 !important;
    --adw-headerbar-backdrop-rgb: 245, 245, 245 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.05 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.05 !important;

 	/* Split pane views */
    --adw-sidebar-bg-rgb: 238, 238, 238 !important;
    --adw-sidebar-fg-rgb: 45, 45, 45 !important;
    --adw-sidebar-backdrop-rgb: 224, 224, 224 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.05 !important;
    --adw-secondary-sidebar-bg-rgb: 238, 238, 238 !important;
    --adw-secondary-sidebar-fg-rgb: 45, 45, 45 !important;
    --adw-secondary-sidebar-backdrop-rgb: 224, 224, 224 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.05 !important;

 	/* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.5 !important;
    --adw-card-fg-rgb: 45, 45, 45 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.08 !important;

 	/* Dialogs */
    --adw-dialog-bg-rgb: 255, 255, 255 !important;
    --adw-dialog-fg-rgb: 45, 45, 45 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 255, 255, 255 !important;
    --adw-popover-fg-rgb: 45, 45, 45 !important;
    --adw-popover-shade-rgb: 0, 0, 0 !important;
    --adw-popover-shade-a: 0.1 !important;

 	/* Thumbnails */
    --adw-thumbnail-bg-rgb: 238, 238, 238 !important;

 	/* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.08 !important;
}
