/**
 * @name Adna Light Discord Theme
 * @author mmishbah
 * @version 0.1.0
 * @description Adna light theme for Discord
 * @source https://github.com/fross100/adna
 **/

:root {
    --color00: #E8FDFF;
    --color01: #E0E0E0;
    --color02: #1A237E;
    --color03: #607D8B;
    --color04: #FF69B4;
    --color05: #1A237E;
    --color06: #455A64;
    --color07: #2D2D2D;
    --color08: #455A64;
    --color09: #1A237E;
    --color10: #1A237E;
    --color11: #1A237E;
    --color12: #1A237E;
    --color13: #FF69B4;
    --color14: #1A237E;
    --color15: #37474F;
}
