@define-color bg #F0F3FF;
@define-color fg #211951;
@define-color gray1 #5A527F;
@define-color gray2 #836FFF;
@define-color gray3 #211951;
@define-color gray5 #614FC9;
@define-color fg_bright #15F5BA;
@define-color selection_bg #836FFF;
@define-color selection_fg #F0F3FF;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @selection_bg;
    color: @selection_fg;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @selection_bg;
    color: @selection_fg;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray5;
}
